<div class="forum-item">
    <div class="row">
        <div class="width">
            <div class="forum-icon">
                <i class="fa-solid fa-cat-space"></i>
            </div>
            <a href="/single-category/{{id}}" id='cat-link'>{{category_name}} </a>
        </div>
    </div>
</div>