                <div class="forum-item">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="forum-icon">
                                <i class="fa-solid fa-cat-space"></i>
                            </div>
                            <a href="***************" class="forum-item-title">{{title}}</a>
                        </div>
                    </div>
                </div>