<div class="forum-item">
    <div class="row">
        <div class="col-md-9">
            <div class="forum-icon">
                <i class="fa-solid fa-cat-space"></i>
            </div>

            <a href="/single-category/{{id}}" id='cat-link' class="forum-item-title">{{category_name}} </a>
        </div>
    </div>
</div>

