<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BootCampBlues</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">BootCampBlues </a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>


    <main>
      {{{ body }}}
    </main>


    <footer>
      Join the GANG!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="public\stylesheets\javascript"></script>
  {{/if}}
</body>

</html>