<section>
    <h2 class="titlecss">Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="categories">Choose a Category:</label>
            <select name="category" id="category">
                <option value="1">General Discussion</option>
                <option value="2">Introductions</option>
                <option value="3">Module 1</option>
                <option value="4">Module 2</option>
        </div>
        <div>
            <input placeholder="Title" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <input placeholder="body" id="post-body" name="post-body" />
        </div>
        <button type="submit" class="btn-createBtn">Create</button>
    </form>
</section>
{{#if posts.length}}
<section>
    <h2 class="titlecss">Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-body">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}
<script src="../stylesheets/javascript/add-post.js"></script>