<div class="taggbox-container" style="width:100%;height:500px;overflow: auto;">
    <div class="taggbox-socialwall" data-wall-id="76914" view-url="https://widget.taggbox.com/76914"></div>
    <script src="https://widget.taggbox.com/embed.min.js" type="text/javascript"></script>
</div>
<section>
    <h2 class="titlecss">Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="categories">Choose a Category:</label>
            <select name="category" id="category">
                <option value="1">General Discussion</option>
                <option value="2">Introductions</option>
                <option value="3">Module 1</option>
                <option value="4">Module 2</option>
                <option value="5">Module 3</option>
                <option value="6">Module 4</option>
                <option value="7">Module 5</option>
                <option value="8">Module 6</option>
                <option value="9">Project 1</option>
                <option value="10">Module 9</option>
                <option value="11">Module 10</option>
                <option value="12">Module 11</option>
                <option value="13">Module 12</option>
                <option value="14">Module 13</option>
                <option value="15">Project 2</option>
                <option value="16">Module 17</option>
                <option value="17">Module 18</option>
                <option value="18">Module 19</option>
                <option value="19">Module 20</option>
                <option value="20">Module 21</option>
                <option value="21">Module 22</option>
                <option value="22">Final Project</option>

        </div>
        <div>
            <input placeholder="Title" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <input placeholder="body" id="post-body" name="post-body" />
        </div>
        <button type="submit" class="btn-createBtn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2 class="titlecss">Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-body">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}
<script type="text/javascript">
    window._chatlio = window._chatlio || [];
    !function () {
        var t = document.getElementById("chatlio-widget-embed"); if (t && window.ChatlioReact && _chatlio.init) return void _chatlio.init(t, ChatlioReact); for (var e = function (t) { return function () { _chatlio.push([t].concat(arguments)) } }, i = ["configure", "identify", "track", "show", "hide", "isShown", "isOnline", "page", "open", "showOrHide"], a = 0; a < i.length; a++)_chatlio[i[a]] || (_chatlio[i[a]] = e(i[a])); var n = document.createElement("script"), c = document.getElementsByTagName("script")[0]; n.id = "chatlio-widget-embed", n.src = "https://w.chatlio.com/w.chatlio-widget.js", n.async = !0, n.setAttribute("data-embed-version", "2.3");
        n.setAttribute('data-widget-options', '{"embedSidebar": true}');
        n.setAttribute('data-widget-id', '2415d161-df87-4aef-6da5-a3225f289da3');
        c.parentNode.insertBefore(n, c);
    }();
</script>

<script src="../stylesheets/javascript/add-post.js"></script>