<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-sun-cloud text-navy mid-icon"></i>
                        </div>
                        <h2 class="titlecss">Welcome to BootCampBlues</h2>
                        <span class='homepage-description'>A safe-space for bootcamp students to connect and learn. Feel free to choose topic you're
                            interested in if you have questions.</span>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                        </div>
                        <h3 class="titlecss">General Subjects</h3>
                    </div>
                    {{categories.category}}
                    {{#each categories}}
                    {{> categories}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/stylesheets/javascript/category.js"></script>