
{{#if posts.length }}
<ul class="post-list">
    {{#each posts as |post|}}
  
      {{> post-info post}}
  
  {{/each}}
</ul>
{{/if}}
{{#unless posts.length}}
<h2>No posts for this Category.</h2>
{{/unless}}